.content{
    margin: 15px 20px;
}
.content-f{
  margin: auto;
  width: 25%;
}
.heading{
    text-align: center;
}
.error{
    color: red;
}
.link{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1102px){
    .content-f{
        width: 70%;
    }
}