{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<h2 class="heading">Issue a book</h2>
<form method="POST" class="content-f">
    {% csrf_token %}
    {{ issue_book_form|crispy }}
    <br>
    <div class="heading">
        <button class="btn btn-primary" type="submit">Issue</button>
    </div>
</form>
<div id="autocomplete" class="autocomplete">
    <input class="autocomplete-input" />
    <ul class="autocomplete-result-list"></ul>
  </div>
  <script>
    new Autocomplete('#autocomplete', {
    search: input => {
    if (input.length < 1) { return [] }
    return countries.filter(country => {
      return country.toLowerCase()
        .startsWith(input.toLowerCase())
    })
  }
})    
  </script>
{% endblock body %}