{% extends "layout.html" %}
{% block body %}
<h1>Books Added</h1>

    <div class="list-group">
    {% if books %}
        {% for book in books %}    
            <a href="/book/{{ book.id }}" class="list-group-item list-group-item-action" >{{ book.title }} by {{ book.author }}</a>
        {% endfor %}
    </div>
    {% else %}
    <br>
    <h5>Woops! There aren't any books here, <a href="/add-book" style="text-decoration: none">click here</a> to add one</h5>
    {% endif %} 
{% endblock body %}